<<form #formReg='ngForm' (ngSubmit)="registerUser(formReg.value)">
    <div class="cardLogin">
      <div class="loginTitle">Register</div>
      <div class="form-group userName">
        <label for="username">Email:</label> <input type="text"
          class="form-control inp" id="email" placeholder="Enter email"
          name="email" required #email='ngModel' [class.is-invalid]='email.invalid && email.touched' 
          pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" ngModel/>
  
      </div>
  
      <div *ngIf="email.touched" class="email">
        <div *ngIf="email.errors && (email.invalid)">
            <small class="text-danger" *ngIf="email.errors.required">
                Email is Required
            </small>
            <small class="text-danger" *ngIf='email.errors.pattern'>
                Thid id not a valid Email
            </small>
        </div>
    </div>


    <div class="form-group userName">
        <label for="username">Name:</label> <input type="text"
          class="form-control inp" id="name" placeholder="Enter Name"
          name="name" required #name='ngModel' [class.is-invalid]='name.invalid && name.touched' 
          minlength="4" ngModel/>
  
      </div>
  
      <div *ngIf="name.touched" class="name">
        <div *ngIf="name.errors && (name.invalid)">
            <small class="text-danger" *ngIf="name.errors.required">
                Name is Required
            </small>
            <small class="text-danger" *ngIf='name.errors.pattern'>
                Thid id not a valid Email
            </small>
            <small class="text-danger" *ngIf='name.errors.minlength'>
                Description shoul be of length 4 characters
            </small>
        </div>
    </div>

  
      <div class="form-group userName">
        <label for="password">Password:</label> <input type="password"
          class="form-control inp" id="email" placeholder="Enter Password" required
          #password='ngModel' minlength="6" [class.is-invalid]='password.invalid && password.touched'
          name="password" ngModel>
      </div>
  
  
      <div *ngIf="password.touched" class="password">
        <div *ngIf="password.errors && (password.invalid)">
            <small class="text-danger" *ngIf="password.errors.required">
                Password is Required
            </small>
            <small class="text-danger" *ngIf='password.errors.minlength'>
              It should not be less than 6 charaters
          </small>
        </div>
    </div>
  
      <div align="center">
        <input [disabled]="formReg.form.invalid" type="submit" value="Register" class="btnsubmit btn btn-primary"/>
      </div>
    </div>
  </form>

