

.header {
	background-color: black;
	color: white;
	height: 100px;
	margin-top: -7px;
	margin-left: -15px;
	width: 101%;
}

.title {
	font-family: Arial, Helvetica, sans-serif;
	display: inline-block;
	text-align: center;
	margin-top: 15px;
	font-size: 40px;
	margin-left: 15px;
	height: 50%;
	padding: 5px;
}

.navLink {
	display: inline-block;
	margin-left: 60%;
}

.navUL {
	list-style-type: none;
}

li {
	display: inline;
}

a {
	color: white;
	text-decoration: none;
}

.li {
	margin-left: 10px;
}

.cardLogin {
	margin-left: 30%;
	margin-top: 20px;
	border: 2px solid black;
	display: inline-block;
	width: 35%;
	height: 400px;
	border-radius: 10px;
}

.cardLogin:hover {
	transform: scale(1.10);
	cursor: pointer;
}

.loginTitle {
	background-image: linear-gradient(to right, rgb(107, 193, 214),
		rgb(223, 223, 50));
	text-align: center;
	font-size: 30px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	height: 90px;
	font-size: 50px;
	padding: 5px;
	color: black;
}

.userName {
	margin: 10px;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
}

.inp {
	background-image: linear-gradient(to right, rgb(191, 231, 181),
		rgb(230, 230, 55));
	height: 50px;
	color: black
}

.uname {
	margin-left: 150px;
}

.mark {
	font-size: 40px;
	padding: 5px;
	margin: 10px;
	background-image: linear-gradient(to right, yellow, purple);
	border-radius: 10px;
	color: white;
}

p {
	font-size: 30px;
	margin-right: 100px;
	display: inline-block;
}

.radiobtn {
	font-size: 30px;
}

input[type=radio] {
	height: 20px;
	width: 20px;
}

.email,.password{
	margin-left: 20px;
	color: red;
}
