<div class="wrap">
    <div class="crd col-md-3 m-a-2" *ngFor="let book of allBooks">
        <div class="brdr card card-width">
            <div class="num"></div>
            <img src="../../assets/images/right.png" alt="error loading">
            <div class="card-block cole" *ngFor="let index in allBooks">
                <h4 class="cardTitle card-title cole">
                    Book {{index}}</h4>
            </div>
            <ul class="txt list-group list-group-flush cole">
                <li class="list-group-item cole">Book Id : <strong>{{ book.bookId }}</strong></li>
                <li class="list-group-item cole">Book Name : <strong>{{ book.bookName }}</strong></li>
                <li class="list-group-item cole">Book Genre : <strong>{{ book.bookGenre }}</strong></li>
            </ul>
        </div>
    </div>
</div>