 <form #formLogin='ngForm' (ngSubmit)="loginUser(formLogin.value)">
    <div class="cardLogin">
      <div class="loginTitle">Login</div>
      <div class="form-group userName">
        <label for="username">Email:</label> <input type="text"
          class="form-control inp" id="email" placeholder="Enter email"
          name="email" required #email='ngModel' [class.is-invalid]='email.invalid && email.touched' 
          pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" ngModel/>
  
      </div>
  
      <div *ngIf="email.touched" class="email">
        <div *ngIf="email.errors && (email.invalid)">
            <small class="text-danger" *ngIf="email.errors.required">
                Email is Required
            </small>
            <small class="text-danger" *ngIf='email.errors.pattern'>
                This id not a valid Email
            </small>
        </div>
    </div>
  
      <div class="form-group userName">
        <label for="password">Password:</label> <input type="password"
          class="form-control inp" id="email" placeholder="Enter Password" required
          #password='ngModel' minlength="6" [class.is-invalid]='password.invalid && password.touched'
          name="password" ngModel>
      </div>
  
  
      <div *ngIf="password.touched" class="password">
        <div *ngIf="password.errors && (password.invalid)">
            <small class="text-danger" *ngIf="password.errors.required">
                Password is Required
            </small>
            <small class="text-danger" *ngIf='password.errors.minlength'>
              It should not be less than 6 charaters
          </small>
        </div>
    </div>
  
      <div align="center">
        <button [disabled]="formLogin.form.invalid" type="submit"
        class="btnsubmit btn btn-primary" (click)="dashboard(formLogin.value)">Login</button>
      </div>
    </div>
  </form>
  
