<div class="header" id="headerId">
  <div class="title">Bookess</div>
  <div class="navLink">
    <ul class="navUL">
      <!-- <li class="li"><a href="register" class="login"><button
            class="btn btn-primary">Register</button></a></li>
      <li class="li"><a href="book" class="login"><button
            class="btn btn-primary">Show Books</button></a></li> -->
      <li class="li"><button class="btn btn-primary" (click)="login()" *ngIf="btnLogin">Login</button></li>
      <li class="li"><button class="btn btn-primary" (click)="register()" *ngIf="btnRegister">Register</button></li>
      <li class="li"><button class="btn btn-primary" (click)="getBooks()" *ngIf="btnShowBooks">Show Books</button></li>
      <li class="li"><button class="btn btn-primary" (click)="logOut()" *ngIf="btnLogOut">Log Out</button></li>
    </ul>
  </div>
</div>

<marquee class="mark" scrollamount="15"> Welcome {{name}} to Bookess
  => Please Login to Continue
</marquee>

<div *ngIf="getLoginPage">
  <app-login></app-login>
</div>
<div *ngIf="getRegisterPage">
  <app-register></app-register>
</div>
<div *ngIf="dashboard()">
  <app-dashboard></app-dashboard>
</div>

<div *ngIf="getShowBooksPage && btnLogin && btnRegister">
  <app-dashboard></app-dashboard>
</div>