/* You can add global styles to this file, and also import other style files */
body {
	background-image: url('./assets/images/background.jfif');
	background-repeat: repeat-y;
	background-size: 100%;
}
.header {
	background-color: black;
	color: white;
	height: 100px;
	margin-top: -7px;
	margin-left: -15px;
	width: 101%;
}

.title {
	font-family: Arial, Helvetica, sans-serif;
	display: inline-block;
	text-align: center;
	margin-top: 15px;
	font-size: 40px;
	margin-left: 25px;
	height: 50%;
	padding: 5px;
}

.navLink {
	display: inline-block;
	margin-left: 30%;
}

.navUL {
	list-style-type: none;
}

li {
	display: inline;
}

a {
	color: white;
	text-decoration: none;
}

.li {
	margin-left: 10px;
}
.email,.password,.name{
	margin-left: 20px;
	color: red;
}

.cardLogin {
	margin-left: 30%;
	margin-top: 20px;
	border: 2px solid black;
	display: inline-block;
	width: 35%;
	height: auto;
	border-radius: 10px;
}

.cardLogin:hover {
	transform: scale(1.05);
	cursor: pointer;
}

.cardReg{
	margin-top: 20px;
	border: 4px solid greenyellow;
	display: inline-block;
	width: 35%;
	height: auto;
	border-radius: 10px;
}

.loginTitle {
	background-image: linear-gradient(to right, rgb(107, 193, 214),
		rgb(223, 223, 50));
	text-align: center;
	font-size: 30px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	height: 90px;
	font-size: 50px;
	padding: 5px;
	color: black;
}

.btnsubmit{
	margin-bottom: 10px;
}


.userName {
	margin: 10px;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
}

.inp {
	background-image: linear-gradient(to right, rgb(191, 231, 181),
		rgb(230, 230, 55));
	height: 50px;
	color: black
}

.mark {
	font-size: 40px;
	padding: 5px;
	margin: 10px;
	background-image: linear-gradient(to right, yellow, purple);
	border-radius: 10px;
	color: white;
}

.cardLogin:hover {
	transform: scale(1.10);
	cursor: pointer;
}
p {
	font-size: 30px;
	margin-right: 100px;
	display: inline-block;
}

.bordindex{
	margin: 20px;
	border: 5px solid greenyellow;
}

.cnt{
	font-size: 15px;
}






















.cardforbook1 {
	border: 2px solid blue;
	border-radius: 10px;
	width: 400px;
	text-align: center;
	margin-left: 3%;
	height: 300px;
	float: left;
}

.cardforbook1:hover {
	transform: scale(1.10);
	cursor: pointer;
}

.upperdiv {
	background-color: rgb(44, 92, 197);
	height: 20px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	height: 70px;
	margin-left: -2px;
	margin-top: -2px;
	margin-right: -2px;
}

img {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	margin-top: -45px;
}

.id {
	padding: 5px;
	text-align: center;
	margin: 5px;
	font-size: 18px;
	width: 100%;
	color: white;
	font-size: 40px;
}

hr {
	margin: 2px;
}

.btnLeft {
	width: 30%;
	float: left;
	margin-left: 15%;
	margin-top: 40px;
	height: 70px;
	font-size: 30px;
	margin-bottom: 50px;
}

.btnright {
	margin-left: 10%;
	width: 30%;
	margin-top: 40px;
	margin-right: 10%;
	height: 70px;
	font-size: 30px;
	margin-bottom: 50px;
}

.id2 {
	padding: 5px;
	text-align: right;
	margin: 5px;
	font-size: 18px;
	width: 40%;
	color: white;
}

.cardforbook2 {
	border: 2px solid blue;
	border-radius: 10px;
	width: 400px;
	text-align: center;
	margin-right: 3%;
	height: 300px;
	float: right;
}

.cardforbook2:hover {
	transform: scale(1.10);
	cursor: pointer;
}

.cardforbook3 {
	border: 2px solid blue;
	border-radius: 10px;
	width: 400px;
	text-align: center;
	margin: auto;
	height: 300px;
}

.cardforbook3:hover {
	transform: scale(1.10);
	cursor: pointer;
}

.wrap {
	margin-top: 30px;
	padding: 5px;
	padding-left: 20px;
	border-radius: 5px;
	height: auto;
}

.data {
	font-size: 40px;
}

.mark {
	font-size: 40px;
	padding: 5px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 110px;
	background-image: linear-gradient(to right, yellow, purple);
	border-radius: 10px;
	color: white;
}

.num {
	margin-top: -5px;
	font-size: 55px;
	color: black;
	background-color: black;
	display: block;
	margin-bottom: 10px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	height: 90px;
	text-align: center;
	color: white;
	width: 100.5%;
}

img {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	margin-top: -54px;
	margin-left: 125px;
}

.cardTitle {
	margin-left: 40%;
}

.txt {
	text-align: center;
}

.mytxt {
	margin-left: 50px;
}

.brdr {
	border: 2px solid black;
	width: 350px;
}

.crd {
	transform: scale(1.05);
}

.crd :hover {
	transform: scale(1.05);
	cursor: pointer;
}
